@import "variables.less";


body { height: 100%; width: 100%; }

/* Header Area */

#NavPill { background-color: @gw-black;  max-width: 320px; position: fixed; top: 177px; left: 0px; width: 160px; text-align: center; }

#HeaderContent { background-color: @gw-black; border-bottom: 12px solid @gw-red; width: 100%; position: fixed; top: 0px; left: 0px; z-index: 50}

#HeaderAd { padding-top: @gw-section-spacer }

#HeaderBar { padding-top: @gw-section-spacer }

#HeaderLogo { 
	background: url('../img/Golfweek_WHT.png'); 
	width: 100%; 
	height: 200px; 
	background-repeat: no-repeat; 
	max-height: 55px; 
	max-width: 300px; 
	background-size: cover; 
}
#HeaderSubscribe { 
	color: @gw-white; 
	float: left;
	border: 1px solid @gw-white;
	.border-radius(30px);
	padding: 5px;
	margin: 3px 8px 0px 0px;

	span { 	font-size: 1.1em;	float: right; 	padding: 0px 5px 0px 5px }
}


/* CONTENT AREA */

#MainContent { height: 100%; width: 100%; overflow: hidden; background-color: @gw-white; padding-top: @header_height_offset }


/*  Side Nav */

#SideNav { 
	background-color: @gw-black; 
	height: 100%;  
	max-width: 320px; 
	padding-top: 40px; 
	float: left;
	ul { list-style: none; padding: 0px 10px;}
	ul li { padding: 5px 0px; color: @gw-white;}
	a { color: @gw-white }
	.right-arrow { padding: 4px 5px 0px 0px; }
}

#SideSubNav { background-color: @gw-black; float: right; width: 160px;
	a { color: @gw-white }
}

#MainNav { width: 160px; float: left; }

.subnav { list-style: none; }

#nav-search { 
	border-top: 1px solid @gw-dark-grey;
	border-bottom: 1px solid @gw-dark-grey; 
	margin-bottom: 5px;
	input { background-color: @gw-black; border: none; color: @gw-white}
	button { background-color: @gw-black; border: none;}
}


/* Article Area */
#ArticleHolder { float: left; padding: 50px 30px; width: 100%; max-width: 770px; }

/* Side Bar */
#SideBar { height: 450px; padding-top: 20px; width: 100%; max-width: 320px; float: left; margin: @gw-section-spacer; }
#SideBar .nav-tabs { border: none }
#SideBar .nav-tabs li { width: 33%; }
#SideBar .nav-tabs li a { background-color: @gw-light-grey; color: @gw-darkest-grey; border: none; border-bottom: 7px solid @gw-dark-grey; font-size: .8em; padding: 8px 5px 1px 5px; border-radius: 0px }
#SideBar .nav-tabs .active a { background-color: @gw-blue; color: @gw-white; border: none; border-bottom: 7px solid @gw-blue; }
#SideBar .nav-tabs .active a:hover { border: none; border-bottom: 7px solid @gw-blue;}
#SideBar .nav-tabs a:hover { border: none; border-bottom: 7px solid @gw-dark-grey;}
#SideBar .nav-tabs li:nth-child(1) a { border-radius: 8px 0px 0px 0px }
#SideBar .nav-tabs li:nth-child(3) a { border-radius: 0px 8px 0px 0px }
#TabsContent { border: 2px solid @gw-light-grey; border-top: none; margin-bottom: 15px; margin-right: 5px; padding: 15px; height: 100%; overflow: hidden;}
.TabPanel { height: 100%; overflow: hidden; }
.news-tab span { color: @gw-blue; font-size: 1em; font-weight: bold; }
.news-tab ul { margin-bottom: 15px; list-style: none; padding-left: 0px }
.news-tab li:before {
  content: '\f054'; /* FontAwesome char code inside the '' */
  font-family: FontAwesome; /* FontAwesome or whatever */
  display: inline-block;
  color: @gw-red;
  width: 20px; /* same as padding-left set on li */
  margin-left: 20 px; /* same as padding-left set on li */
  font-size: .75em;
}​
.news-tab li { border-bottom: 1px solid @gw-light-grey; padding: 10px 0px; line-height: 1em }

/* Large desktop */
@media (min-width: 1200px) {
	.left-frame { max-width: 1130px; /* margin: 0px -15px 0px -15px; padding: 0px 15px; */ }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) { 
	.left-frame { max-width: 850px; /* margin: 0px -15px 0px -15px; padding: 0px 15px; */ }
	#ArticleHolder { max-width: 500px }
}

/* Landscape phone to portrait tablet */
@media (max-width: 867px) {
	.left-frame { max-width: 100%; /* margin: 0px -15px 0px -15px; padding: 0px 15px; */ }
	#ArticleHolder { max-width: 100% }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.left-frame { max-width: 100%; /* margin: 0px -15px 0px -15px; padding: 0px 15px; */ }
}
